
/*cm_sysdb_begin*/
@import url("//fonts.cm4all.net/css?subset=cyrillic,cyrillic-ext,devanagari,greek,greek-ext,khmer,latin,latin-ext,vietnamese&family=Sanchez:regular,italic|Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic|Alegreya:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic");
.cm-background {
background-repeat: no-repeat; background-attachment: fixed; background-position: center center; background-size: cover;
}
/*cm_sysdb_end*/

.cm-offline-content {
    color: #FFFFFF;
    background-color: rgba(255,255,255,0.14);
}
.design_content,.cm-templates-container,.cm-templates-text,.cm-templates-footer{font-family:'Open Sans'
;font-size:18px
;font-weight:400
;font-style:normal
;line-height:1.5
}
h1,.cm-h1{font-size:36px
;font-family:'Alegreya'
;font-weight:700
;font-style:normal
;line-height:initial
;margin-bottom:.7em}
h2{font-size:28px
;font-family:'Alegreya'
;font-weight:700
;font-style:normal
;line-height:initial
;margin-bottom:.7em}
h3{font-size:24px
;font-family:'Alegreya'
;font-weight:700
;font-style:normal
;line-height:initial
;margin-bottom:.7em}
h4,h5,h6{font-size:24px
;font-family:'Alegreya'
;font-weight:700
;font-style:normal
;line-height:initial
;margin-bottom:.7em}
#title,.title_wrapper .title,.title_wrapper .bigtitle{font-family:'Alegreya'
;font-size:48px
;font-weight:700
;font-style:normal
;line-height:1
}
#subtitle{font-family:'Open Sans'
;font-size:36px
;font-weight:400
;font-style:normal
;line-height:2
}
.cm-templates-navigation,.navigation_wrapper a,.navigation a,.mobile_navigation a,.navigation>ul>li:after,.navigation li.cm_has_subnavigation>a:after{font-size:large
;font-family:'Alegreya'
;font-weight:700
;font-style:normal
;line-height:initial
}
.cm_widget input[type="text"],.cm_widget form input[type="text"],.cm_widget input[type="date"],.cm_widget form input[type="date"],.cm_widget input[type="datetime"],.cm_widget form input[type="datetime"],.cm_widget input[type="email"],.cm_widget form input[type="email"],.cm_widget input[type="number"],.cm_widget form input[type="number"],.cm_widget input[type="password"],.cm_widget form input[type="password"],.cm_widget input[type="search"],.cm_widget form input[type="search"],.cm_widget input[type="tel"],.cm_widget form input[type="tel"],.cm_widget input[type="time"],.cm_widget form input[type="time"],.cm_widget input[type="url"],.cm_widget form input[type="url"],.cm_widget select,.cm_widget form select,.cm_widget textarea,.cm_widget form textarea{border:0;border:1px solid rgba(255
,255
,255
,0.45);border:1px solid rgba(255,255,255
,0.45);color:#FFFFFF
;border-radius:2px;padding:11px 12px;background-color:rgba(255
,255
,255
,0.03);background-color:rgba(255,255,255
,0.03);transition:border .3s,box-shadow .3s;font-family:'Open Sans'
;font-size:18px
;font-weight:400
;font-style:normal
;line-height:1.5
}
.cm_widget input[type="text"]:hover,.cm_widget form input[type="text"]:hover,.cm_widget input[type="date"]:hover,.cm_widget form input[type="date"]:hover,.cm_widget input[type="datetime"]:hover,.cm_widget form input[type="datetime"]:hover,.cm_widget input[type="email"]:hover,.cm_widget form input[type="email"]:hover,.cm_widget input[type="number"]:hover,.cm_widget form input[type="number"]:hover,.cm_widget input[type="password"]:hover,.cm_widget form input[type="password"]:hover,.cm_widget input[type="search"]:hover,.cm_widget form input[type="search"]:hover,.cm_widget input[type="tel"]:hover,.cm_widget form input[type="tel"]:hover,.cm_widget input[type="time"]:hover,.cm_widget form input[type="time"]:hover,.cm_widget input[type="url"]:hover,.cm_widget form input[type="url"]:hover,.cm_widget select:hover,.cm_widget form select:hover,.cm_widget textarea:hover,.cm_widget form textarea:hover{border:1px solid rgba(255
,255
,255
,0.8);border:1px solid rgba(255,255,255
,0.8)}
.cm_widget input[type="text"]:focus,.cm_widget form input[type="text"]:focus,.cm_widget input[type="date"]:focus,.cm_widget form input[type="date"]:focus,.cm_widget input[type="datetime"]:focus,.cm_widget form input[type="datetime"]:focus,.cm_widget input[type="email"]:focus,.cm_widget form input[type="email"]:focus,.cm_widget input[type="number"]:focus,.cm_widget form input[type="number"]:focus,.cm_widget input[type="password"]:focus,.cm_widget form input[type="password"]:focus,.cm_widget input[type="search"]:focus,.cm_widget form input[type="search"]:focus,.cm_widget input[type="tel"]:focus,.cm_widget form input[type="tel"]:focus,.cm_widget input[type="time"]:focus,.cm_widget form input[type="time"]:focus,.cm_widget input[type="url"]:focus,.cm_widget form input[type="url"]:focus,.cm_widget select:focus,.cm_widget form select:focus,.cm_widget textarea:focus,.cm_widget form textarea:focus{outline:0;border:1px solid #FFFFFF
;box-shadow:0 0 6px rgba(255
,255
,255
,0.4);box-shadow:0 0 6px rgba(255,255,255
,0.4)}
.cm_widget input[type="button"],.cm_widget form input[type="button"],.cm_widget input[type="submit"],.cm_widget form input[type="submit"],.cm_widget input[type="reset"],.cm_widget form input[type="reset"],.cm_widget button,.cm_widget form button{background-color:rgba(255
,255
,255
,0.08);background-color:rgba(255,255,255
,0.08);border:1px solid rgba(255
,255
,255
,0.35);border:1px solid rgba(255,255,255
,0.35);color:#FFFFFF
;padding:10px 14px;border-radius:2px;box-shadow:0 3px 3px -2px rgba(255
,255
,255
,0.5);box-shadow:0 3px 3px -2px rgba(255,255,255
,0.5);cursor:pointer;transition:transform .1s,box-shadow .2s,border .2s;font-family:'Open Sans'
;font-size:18px
;font-weight:400
;font-style:normal
;line-height:1.5
}
@media screen and (min-width:1251px){.cm_widget input[type="button"]:hover,.cm_widget form input[type="button"]:hover,.cm_widget input[type="submit"]:hover,.cm_widget form input[type="submit"]:hover,.cm_widget input[type="reset"]:hover,.cm_widget form input[type="reset"]:hover,.cm_widget button:hover,.cm_widget form button:hover{border:1px solid rgba(255
,255
,255
,0.8);border:1px solid rgba(255,255,255
,0.8)}
}
.cm_widget input[type="button"]:focus,.cm_widget form input[type="button"]:focus,.cm_widget input[type="submit"]:focus,.cm_widget form input[type="submit"]:focus,.cm_widget input[type="reset"]:focus,.cm_widget form input[type="reset"]:focus,.cm_widget button:focus,.cm_widget form button:focus{outline:0;transform:translateY(2px);box-shadow:0 2px 3px -2px rgba(255
,255
,255
,0.4);box-shadow:0 2px 3px -2px rgba(255,255,255
,0.4)}
.footer_wrapper .cm_widget input[type="text"],.footer_wrapper .cm_widget form input[type="text"],.sidebar_wrapper .cm_widget input[type="text"],.sidebar_wrapper .cm_widget form input[type="text"],.footer_wrapper .cm_widget input[type="date"],.footer_wrapper .cm_widget form input[type="date"],.sidebar_wrapper .cm_widget input[type="date"],.sidebar_wrapper .cm_widget form input[type="date"],.footer_wrapper .cm_widget input[type="datetime"],.footer_wrapper .cm_widget form input[type="datetime"],.sidebar_wrapper .cm_widget input[type="datetime"],.sidebar_wrapper .cm_widget form input[type="datetime"],.footer_wrapper .cm_widget input[type="email"],.footer_wrapper .cm_widget form input[type="email"],.sidebar_wrapper .cm_widget input[type="email"],.sidebar_wrapper .cm_widget form input[type="email"],.footer_wrapper .cm_widget input[type="number"],.footer_wrapper .cm_widget form input[type="number"],.sidebar_wrapper .cm_widget input[type="number"],.sidebar_wrapper .cm_widget form input[type="number"],.footer_wrapper .cm_widget input[type="password"],.footer_wrapper .cm_widget form input[type="password"],.sidebar_wrapper .cm_widget input[type="password"],.sidebar_wrapper .cm_widget form input[type="password"],.footer_wrapper .cm_widget input[type="search"],.footer_wrapper .cm_widget form input[type="search"],.sidebar_wrapper .cm_widget input[type="search"],.sidebar_wrapper .cm_widget form input[type="search"],.footer_wrapper .cm_widget input[type="tel"],.footer_wrapper .cm_widget form input[type="tel"],.sidebar_wrapper .cm_widget input[type="tel"],.sidebar_wrapper .cm_widget form input[type="tel"],.footer_wrapper .cm_widget input[type="time"],.footer_wrapper .cm_widget form input[type="time"],.sidebar_wrapper .cm_widget input[type="time"],.sidebar_wrapper .cm_widget form input[type="time"],.footer_wrapper .cm_widget input[type="url"],.footer_wrapper .cm_widget form input[type="url"],.sidebar_wrapper .cm_widget input[type="url"],.sidebar_wrapper .cm_widget form input[type="url"],.footer_wrapper .cm_widget select,.footer_wrapper .cm_widget form select,.sidebar_wrapper .cm_widget select,.sidebar_wrapper .cm_widget form select,.footer_wrapper .cm_widget textarea,.footer_wrapper .cm_widget form textarea,.sidebar_wrapper .cm_widget textarea,.sidebar_wrapper .cm_widget form textarea{font-family:'Open Sans'
;font-size:18px
;font-weight:400
;font-style:normal
;line-height:1.5
}
.footer_wrapper .cm_widget input[type="button"],.footer_wrapper .cm_widget form input[type="button"],.sidebar_wrapper .cm_widget input[type="button"],.sidebar_wrapper .cm_widget form input[type="button"],.footer_wrapper .cm_widget input[type="submit"],.footer_wrapper .cm_widget form input[type="submit"],.sidebar_wrapper .cm_widget input[type="submit"],.sidebar_wrapper .cm_widget form input[type="submit"],.footer_wrapper .cm_widget input[type="reset"],.footer_wrapper .cm_widget form input[type="reset"],.sidebar_wrapper .cm_widget input[type="reset"],.sidebar_wrapper .cm_widget form input[type="reset"],.footer_wrapper .cm_widget button,.footer_wrapper .cm_widget form button,.sidebar_wrapper .cm_widget button,.sidebar_wrapper .cm_widget form button{font-family:'Open Sans'
;font-size:18px
;font-weight:400
;font-style:normal
;line-height:1.5
}
.cm-templates-empty{display:none !important}
body{background-color:#FFFFFF
}
#page_wrapper,.cm-template-content__main{font-family:'Open Sans'
;font-size:18px
;font-weight:400
;font-style:normal
;line-height:1.5
}
h1,.cm-h1{font-size:36px
;font-family:'Alegreya'
;font-weight:700
;font-style:normal
;line-height:initial
;margin-bottom:.7em}
h2{font-size:28px
;font-family:'Alegreya'
;font-weight:700
;font-style:normal
;line-height:initial
;margin-bottom:.7em}
h3{font-size:24px
;font-family:'Alegreya'
;font-weight:700
;font-style:normal
;line-height:initial
;margin-bottom:.7em}
h4,h5,h6{font-size:24px
;font-family:'Alegreya'
;font-weight:700
;font-style:normal
;line-height:initial
;margin-bottom:.7em}
.title_wrapper h1{font-family:'Alegreya'
;font-size:48px
;font-weight:700
;font-style:normal
;line-height:1
}
.title_wrapper h2{font-family:'Open Sans'
;font-size:36px
;font-weight:400
;font-style:normal
;line-height:2
}
#cm_navigation a,.navigation_wrapper a{font-size:large
;font-family:'Alegreya'
;font-weight:700
;font-style:normal
;line-height:initial
}
.blur{background-color:rgba(255,255,255,0.7)
;background-color:rgba(invalid
,0.7)}
.fixednav{background-color:rgba(255,255,255,0.7)
;background-color:rgba(invalid
,0.95)}
.cm_widget input[type='text'],.cm_widget input[type='date'],.cm_widget input[type='datetime'],.cm_widget input[type='email'],.cm_widget input[type='number'],.cm_widget input[type='password'],.cm_widget input[type='search'],.cm_widget input[type='tel'],.cm_widget input[type='time'],.cm_widget input[type='url'],.cm_widget textarea,.cm_widget select,.cm_widget button,.cm_widget input[type='button'],.cm_widget input[type='submit'],.cm_widget input[type='reset']{border:0;border:1px solid rgba(255
,255
,255
,0.45);border:1px solid rgba(255,255,255
,0.45);color:#FFFFFF
;border-radius:2px;padding:11px 12px;background-color:rgba(255
,255
,255
,0.03);background-color:rgba(255,255,255
,0.03);transition:border .3s,box-shadow .3s;font-family:'Open Sans'
;font-size:18px
;font-weight:400
;font-style:normal
}
.cm_widget input[type='text']:hover,.cm_widget input[type='date']:hover,.cm_widget input[type='datetime']:hover,.cm_widget input[type='email']:hover,.cm_widget input[type='number']:hover,.cm_widget input[type='password']:hover,.cm_widget input[type='search']:hover,.cm_widget input[type='tel']:hover,.cm_widget input[type='time']:hover,.cm_widget input[type='url']:hover,.cm_widget textarea:hover,.cm_widget select:hover,.cm_widget button:hover,.cm_widget input[type='button']:hover,.cm_widget input[type='submit']:hover,.cm_widget input[type='reset']:hover{border:1px solid rgba(255
,255
,255
,0.8);border:1px solid rgba(255,255,255
,0.8)}
.cm_widget input[type='text']:focus,.cm_widget input[type='date']:focus,.cm_widget input[type='datetime']:focus,.cm_widget input[type='email']:focus,.cm_widget input[type='number']:focus,.cm_widget input[type='password']:focus,.cm_widget input[type='search']:focus,.cm_widget input[type='tel']:focus,.cm_widget input[type='time']:focus,.cm_widget input[type='url']:focus,.cm_widget textarea:focus,.cm_widget select:focus,.cm_widget button:focus,.cm_widget input[type='button']:focus,.cm_widget input[type='submit']:focus,.cm_widget input[type='reset']:focus{outline:0;border:1px solid #FFFFFF
;box-shadow:0 0 6px rgba(255
,255
,255
,0.4);box-shadow:0 0 6px rgba(255,255,255
,0.4)}
.cm_widget button,.cm_widget input[type='button'],.cm_widget input[type='submit'],.cm_widget input[type='reset']{border:0;border:1px solid rgba(255
,255
,255
,0.45);border:1px solid rgba(255,255,255
,0.45);color:#FFFFFF
;border-radius:2px;padding:11px 12px;background-color:rgba(255
,255
,255
,0.03);background-color:rgba(255,255,255
,0.03);transition:border .3s,box-shadow .3s}
.cm_widget button:hover,.cm_widget input[type='button']:hover,.cm_widget input[type='submit']:hover,.cm_widget input[type='reset']:hover{border:1px solid rgba(255
,255
,255
,0.8);border:1px solid rgba(255,255,255
,0.8)}
.cm_widget button:focus,.cm_widget input[type='button']:focus,.cm_widget input[type='submit']:focus,.cm_widget input[type='reset']:focus{outline:0;border:1px solid #FFFFFF
;box-shadow:0 0 6px rgba(255
,255
,255
,0.4);box-shadow:0 0 6px rgba(255,255,255
,0.4)}
.shopWidgetSeperatedDiv input[type='text'],.shopWidgetSeperatedDiv button,.shopWidgetSeperatedDiv input[type='button'],.shopWidgetSeperatedDiv input[type='submit'],.shopWidgetSeperatedDiv input[type='reset']{padding:8px 3px;min-width:45px}
.shopWidgetSeperatedDiv button,.shopWidgetSeperatedDiv input[type='button'],.shopWidgetSeperatedDiv input[type='submit'],.shopWidgetSeperatedDiv input[type='reset']{background-size:cover !important;border:0}
.head_wrapper{color:#000000
}
.title_wrapper{color:#000000
;text-shadow:0 1px 1px rgba(255,255,255,0.7)
}
.title_wrapper>.subtitle{color:#000000
}
.navigation_wrapper>ul>li>a,a.toggle_navigation{color:#000000
}
.navigation_wrapper>ul>li:hover>a,.navigation_wrapper>ul>li.cm_current>a{color:rgba(255,255,255,0.7)
;background-color:#000000
;background-color:rgba(0,0,0
,0.7)}
.navigation_wrapper>ul>li>ul,.navigation_wrapper>ul>li>ul>li>ul{background-color:#000000
;background-color:rgba(0,0,0
,0.8);border:2px solid transparent
;border:2px solid rgba(invalid
,0.5)}
.navigation_wrapper>ul>li.cm_has_subnavigation>ul:before{border-bottom:10px solid transparent
;border-bottom:10px solid rgba(invalid
,0.5);border-left:8px solid transparent;border-right:8px solid transparent;background-color:transparent !important}
.navigation_wrapper>ul>li.cm_has_subnavigation>ul>li.cm_has_subnavigation>ul:before{border-top:8px solid transparent;border-bottom:8px solid transparent;border-right:10px solid transparent
;border-right:10px solid rgba(invalid
,0.5);background-color:transparent !important}
.navigation_wrapper>ul>li.cm_has_subnavigation:hover>ul:before,.navigation_wrapper>ul>li.cm_has_subnavigation:hover>ul>li.cm_with_subnavigation>ul:before{background-color:#000000
}
.navigation_wrapper>ul>li>ul>li>a,.navigation_wrapper>ul>li>ul>li>ul>li>a{color:rgba(255,255,255,0.7)
}
.navigation_wrapper>ul>li>ul>li:hover>a,.navigation_wrapper>ul>li>ul>li.cm_current>a,.navigation_wrapper>ul>li>ul>li>ul>li:hover>a,.navigation_wrapper>ul>li>ul>li>ul>li.cm_current>a{color:#000000
;background-color:rgba(255,255,255,0.7)
}
.navigation_wrapper li.cm_has_subnavigation>a:after{border-color:#000000
transparent -moz-use-text-color;-webkit-transition:border-color .4s;transition:border-color .4s}
.navigation_wrapper li.cm_has_subnavigation.cm_current>a:after,.navigation_wrapper li.cm_has_subnavigation:hover>a:after{border-color:rgba(255,255,255,0.7)
transparent -moz-use-text-color}
.navigation_wrapper li.cm_has_subnavigation>ul li.cm_has_subnavigation>a:after{border-color:rgba(255,255,255,0.7)
transparent -moz-use-text-color;-webkit-transition:border-color .4s;transition:border-color .4s}
.navigation_wrapper li.cm_has_subnavigation>ul li.cm_has_subnavigation.cm_current>a:after,.navigation_wrapper li.cm_has_subnavigation>ul li.cm_has_subnavigation:hover>a:after{border-color:#000000
transparent -moz-use-text-color}
.content_wrapper,.placeholder{color:#FFFFFF
;background-color:rgba(255,255,255,0.14)
;background-color:rgba(invalid
,0.95)}
.trennlinie{color:transparent
;background-color:transparent
}
.trennlinie.nose:after{color:transparent
;border-color:transparent
transparent -moz-use-text-color}
.content_wrapper h1,.content_wrapper .cm-h1,.content_wrapper h2,.content_wrapper h3{color:#FFFFFF
}
.content_wrapper a{color:#FFFFFF
}
.sidebar_wrapper{color:#FFFFFF
;border-left:5px solid transparent
;border-left:5px solid rgba(invalid
,0.5)}
.sidebar_wrapper h1,.sidebar_wrapper .cm-h1,.sidebar_wrapper h2,.sidebar_wrapper h3{color:#FFFFFF
}
.sidebar_wrapper a{color:#FFFFFF
}
.scrollup:before{color:#FFFFFF
;border-color:#FFFFFF
}
.scrollup:hover:before{transform:scale(1.2);box-shadow:0 0 8px transparent
}
.footer_wrapper{color:#FFFFFF
;border-color:#FFFFFF
}
#footer a,.scrollup{color:#FFFFFF
;text-decoration:none}
.scroll_container.blur,#footer{background-color:transparent
;background-color:rgba(invalid
,0.7)}
@media only screen and (min-width:768px) and (max-width:1023px){.navigation_wrapper>ul>li>ul,.navigation_wrapper>ul>li>ul>li>ul{background-color:rgba(255,255,255,0.7)
;background-color:rgba(invalid
,0.4);border:0;box-shadow:0 0 5px 5px rgba(255,255,255,0.7)
inset}
.navigation_wrapper>ul>li>ul>li>a,.navigation_wrapper>ul>li>ul>li>ul>li>a{color:#000000
}
.navigation_wrapper>ul>li>ul>li:hover>a,.navigation_wrapper>ul>li>ul>li>ul>li:hover>a{color:rgba(255,255,255,0.7)
;background-color:#000000
}
}
@media only screen and (min-width:1px) and (max-width:767px){.sidebar_wrapper{color:#FFFFFF
;border-left:0;border-top:5px solid transparent
;border-top:5px solid rgba(invalid
,0.5)}
.toggle_navigation{background-color:rgba(255
,255
,255
,0.9);border-right:solid 5px rgba(invalid
,invalid
,invalid
,0.5);border-bottom:solid 5px rgba(invalid
,invalid
,invalid
,0.5)}
.open_navigation .toggle_navigation{background-color:transparent;border-right:0;border-bottom:0}
#mobile_cm_navigation.fixednav{background-color:rgba(255
,255
,255
,0.9);border-right:solid 5px rgba(invalid
,invalid
,invalid
,0.5)}
.navigation_wrapper>ul>li>a,a.toggle_navigation{color:#000000
}
.navigation_wrapper>ul>li.cm_current>a{color:rgba(255,255,255,0.7)
;background-color:#000000
}
.navigation_wrapper>ul>li:hover>a{color:#000000
;background-color:transparent}
.navigation_wrapper>ul>li>ul,.navigation_wrapper>ul>li>ul>li>ul{background-color:rgba(0
,0
,0
,0.8);border:2px solid rgba(invalid
,invalid
,invalid
,0.5)}
.navigation_wrapper>ul>li.cm_has_subnavigation>ul:before{border-bottom:10px solid rgba(invalid
,invalid
,invalid
,0.5);border-left:8px solid transparent;border-right:8px solid transparent;background-color:transparent !important}
.navigation_wrapper>ul>li.cm_has_subnavigation>ul>li.cm_has_subnavigation>ul:before{border-bottom:8px solid transparent;border-top:8px solid transparent;border-right:10px solid rgba(invalid
,invalid
,invalid
,0.5);background-color:transparent !important}
.navigation_wrapper>ul>li.cm_has_subnavigation:hover>ul:before,.navigation_wrapper>ul>li.cm_has_subnavigation:hover>ul>li.cm_with_subnavigation>ul:before{background-color:#000000
}
.navigation_wrapper>ul>li>ul>li>a,.navigation_wrapper>ul>li>ul>li>ul>li>a{color:rgba(255,255,255,0.7)
}
.navigation_wrapper>ul>li>ul>li>ul>li:hover>a{color:#000000
;background-color:rgba(255,255,255,0.7)
}
.navigation_wrapper>ul>li>ul>li:hover>a{color:rgba(255,255,255,0.7)
;background-color:transparent}
.navigation_wrapper li.cm_has_subnavigation>a:after{border-color:#000000
transparent -moz-use-text-color;-webkit-transition:border-color .4s;transition:border-color .4s}
.navigation_wrapper li.cm_has_subnavigation.cm_current>a:after,.navigation_wrapper li.cm_has_subnavigation:hover>a:after{border-color:rgba(255,255,255,0.7)
transparent -moz-use-text-color}
.navigation_wrapper li.cm_has_subnavigation>ul li.cm_has_subnavigation>a:after{border-color:rgba(255,255,255,0.7)
transparent -moz-use-text-color;-webkit-transition:border-color .4s;transition:border-color .4s}
.navigation_wrapper li.cm_has_subnavigation>ul li.cm_has_subnavigation.cm_current>a:after,.navigation_wrapper li.cm_has_subnavigation>ul li.cm_has_subnavigation:hover>a:after{border-color:#000000
transparent -moz-use-text-color}
}
/*cm4all-vars-extension-force-color-begin*/
.cm4all-header-title-color.cm4all-force-color {
    color: #FFFFFF !important;
}
.cm4all-header-title-color.cm4all-force-background-color {
    background-color: #FFFFFF !important;
}
.cm4all-header-title-color.cm4all-force-border-color {
    border-color: #FFFFFF !important;
} 
.cm4all-header-subtitle-color.cm4all-force-color {
    color: #FFFFFF !important;
}
.cm4all-header-subtitle-color.cm4all-force-background-color {
    background-color: #FFFFFF !important;
}
.cm4all-header-subtitle-color.cm4all-force-border-color {
    border-color: #FFFFFF !important;
} 
.cm4all-header-background-color.cm4all-force-color {
    color: #FF662E !important;
}
.cm4all-header-background-color.cm4all-force-background-color {
    background-color: #FF662E !important;
}
.cm4all-header-background-color.cm4all-force-border-color {
    border-color: #FF662E !important;
} 
.cm4all-header-alt-background-color.cm4all-force-color {
    color: #A6A6A6 !important;
}
.cm4all-header-alt-background-color.cm4all-force-background-color {
    background-color: #A6A6A6 !important;
}
.cm4all-header-alt-background-color.cm4all-force-border-color {
    border-color: #A6A6A6 !important;
} 
.cm4all-header-border-color.cm4all-force-color {
    color: #C2C2C2 !important;
}
.cm4all-header-border-color.cm4all-force-background-color {
    background-color: #C2C2C2 !important;
}
.cm4all-header-border-color.cm4all-force-border-color {
    border-color: #C2C2C2 !important;
} 
.cm4all-header-alt-border-color.cm4all-force-color {
    color: #C2C2C2 !important;
}
.cm4all-header-alt-border-color.cm4all-force-background-color {
    background-color: #C2C2C2 !important;
}
.cm4all-header-alt-border-color.cm4all-force-border-color {
    border-color: #C2C2C2 !important;
} 
.cm4all-content-color.cm4all-force-color {
    color: #FFFFFF !important;
}
.cm4all-content-color.cm4all-force-background-color {
    background-color: #FFFFFF !important;
}
.cm4all-content-color.cm4all-force-border-color {
    border-color: #FFFFFF !important;
} 
.cm4all-content-headline-color.cm4all-force-color {
    color: #FFFFFF !important;
}
.cm4all-content-headline-color.cm4all-force-background-color {
    background-color: #FFFFFF !important;
}
.cm4all-content-headline-color.cm4all-force-border-color {
    border-color: #FFFFFF !important;
} 
.cm4all-content-background-color.cm4all-force-color {
    color: rgba(255,255,255,0.14) !important;
}
.cm4all-content-background-color.cm4all-force-background-color {
    background-color: rgba(255,255,255,0.14) !important;
}
.cm4all-content-background-color.cm4all-force-border-color {
    border-color: rgba(255,255,255,0.14) !important;
} 
.cm4all-content-alt-background-color.cm4all-force-color {
    color: #FFFFFF !important;
}
.cm4all-content-alt-background-color.cm4all-force-background-color {
    background-color: #FFFFFF !important;
}
.cm4all-content-alt-background-color.cm4all-force-border-color {
    border-color: #FFFFFF !important;
} 
.cm4all-content-border-color.cm4all-force-color {
    color: transparent !important;
}
.cm4all-content-border-color.cm4all-force-background-color {
    background-color: transparent !important;
}
.cm4all-content-border-color.cm4all-force-border-color {
    border-color: transparent !important;
} 
.cm4all-content-alt-border-color.cm4all-force-color {
    color: #757F80 !important;
}
.cm4all-content-alt-border-color.cm4all-force-background-color {
    background-color: #757F80 !important;
}
.cm4all-content-alt-border-color.cm4all-force-border-color {
    border-color: #757F80 !important;
} 
.cm4all-content-link-color.cm4all-force-color {
    color: #424242 !important;
}
.cm4all-content-link-color.cm4all-force-background-color {
    background-color: #424242 !important;
}
.cm4all-content-link-color.cm4all-force-border-color {
    border-color: #424242 !important;
} 
.cm4all-content-link-hover-color.cm4all-force-color {
    color: #7a180b !important;
}
.cm4all-content-link-hover-color.cm4all-force-background-color {
    background-color: #7a180b !important;
}
.cm4all-content-link-hover-color.cm4all-force-border-color {
    border-color: #424242  !important;
} 
.cm4all-sidebar-color.cm4all-force-color {
    color: #000000 !important;
}
.cm4all-sidebar-color.cm4all-force-background-color {
    background-color: #000000 !important;
}
.cm4all-sidebar-color.cm4all-force-border-color {
    border-color: #000000 !important;
} 
.cm4all-sidebar-headline-color.cm4all-force-color {
    color: #2991DA !important;
}
.cm4all-sidebar-headline-color.cm4all-force-background-color {
    background-color: #2991DA !important;
}
.cm4all-sidebar-headline-color.cm4all-force-border-color {
    border-color: #2991DA !important;
} 
.cm4all-sidebar-background-color.cm4all-force-color {
    color: rgba(255,255,255,0.51) !important;
}
.cm4all-sidebar-background-color.cm4all-force-background-color {
    background-color: rgba(255,255,255,0.51) !important;
}
.cm4all-sidebar-background-color.cm4all-force-border-color {
    border-color: rgba(255,255,255,0.51) !important;
} 
.cm4all-sidebar-alt-background-color.cm4all-force-color {
    color: #E0E0E0 !important;
}
.cm4all-sidebar-alt-background-color.cm4all-force-background-color {
    background-color: #E0E0E0 !important;
}
.cm4all-sidebar-alt-background-color.cm4all-force-border-color {
    border-color: #E0E0E0 !important;
} 
.cm4all-sidebar-border-color.cm4all-force-color {
    color: transparent !important;
}
.cm4all-sidebar-border-color.cm4all-force-background-color {
    background-color: transparent !important;
}
.cm4all-sidebar-border-color.cm4all-force-border-color {
    border-color: transparent !important;
} 
.cm4all-sidebar-alt-border-color.cm4all-force-color {
    color: #BDBDBD !important;
}
.cm4all-sidebar-alt-border-color.cm4all-force-background-color {
    background-color: #BDBDBD !important;
}
.cm4all-sidebar-alt-border-color.cm4all-force-border-color {
    border-color: #BDBDBD !important;
} 
.cm4all-sidebar-link-color.cm4all-force-color {
    color: #ffffff !important;
}
.cm4all-sidebar-link-color.cm4all-force-background-color {
    background-color: #ffffff !important;
}
.cm4all-sidebar-link-color.cm4all-force-border-color {
    border-color: #ffffff !important;
} 
.cm4all-sidebar-link-hover-color.cm4all-force-color {
    color: #f2f2f2 !important;
}
.cm4all-sidebar-link-hover-color.cm4all-force-background-color {
    background-color: #f2f2f2 !important;
}
.cm4all-sidebar-link-hover-color.cm4all-force-border-color {
    border-color: #ffffff  !important;
} 
.cm4all-navigation-color.cm4all-force-color {
    color: #000000 !important;
}
.cm4all-navigation-color.cm4all-force-background-color {
    background-color: #000000 !important;
}
.cm4all-navigation-color.cm4all-force-border-color {
    border-color: #000000 !important;
} 
.cm4all-navigation-alt-color.cm4all-force-color {
    color: #000000 !important;
}
.cm4all-navigation-alt-color.cm4all-force-background-color {
    background-color: #000000 !important;
}
.cm4all-navigation-alt-color.cm4all-force-border-color {
    border-color: #000000 !important;
} 
.cm4all-navigation-background-color.cm4all-force-color {
    color: rgba(255,255,255,0.7) !important;
}
.cm4all-navigation-background-color.cm4all-force-background-color {
    background-color: rgba(255,255,255,0.7) !important;
}
.cm4all-navigation-background-color.cm4all-force-border-color {
    border-color: rgba(255,255,255,0.7) !important;
} 
.cm4all-navigation-alt-background-color.cm4all-force-color {
    color: #FF662E !important;
}
.cm4all-navigation-alt-background-color.cm4all-force-background-color {
    background-color: #FF662E !important;
}
.cm4all-navigation-alt-background-color.cm4all-force-border-color {
    border-color: #FF662E !important;
} 
.cm4all-navigation-border-color.cm4all-force-color {
    color: #FFFFFF !important;
}
.cm4all-navigation-border-color.cm4all-force-background-color {
    background-color: #FFFFFF !important;
}
.cm4all-navigation-border-color.cm4all-force-border-color {
    border-color: #FFFFFF !important;
} 
.cm4all-navigation-alt-border-color.cm4all-force-color {
    color: #FFFFFF !important;
}
.cm4all-navigation-alt-border-color.cm4all-force-background-color {
    background-color: #FFFFFF !important;
}
.cm4all-navigation-alt-border-color.cm4all-force-border-color {
    border-color: #FFFFFF !important;
} 
.cm4all-subnavigation-color.cm4all-force-color {
    color: #FFFFFF !important;
}
.cm4all-subnavigation-color.cm4all-force-background-color {
    background-color: #FFFFFF !important;
}
.cm4all-subnavigation-color.cm4all-force-border-color {
    border-color: #FFFFFF !important;
} 
.cm4all-subnavigation-alt-color.cm4all-force-color {
    color: #2991DA !important;
}
.cm4all-subnavigation-alt-color.cm4all-force-background-color {
    background-color: #2991DA !important;
}
.cm4all-subnavigation-alt-color.cm4all-force-border-color {
    border-color: #2991DA !important;
} 
.cm4all-subnavigation-background-color.cm4all-force-color {
    color: #2991DA !important;
}
.cm4all-subnavigation-background-color.cm4all-force-background-color {
    background-color: #2991DA !important;
}
.cm4all-subnavigation-background-color.cm4all-force-border-color {
    border-color: #2991DA !important;
} 
.cm4all-subnavigation-alt-background-color.cm4all-force-color {
    color: #ffffff !important;
}
.cm4all-subnavigation-alt-background-color.cm4all-force-background-color {
    background-color: #ffffff !important;
}
.cm4all-subnavigation-alt-background-color.cm4all-force-border-color {
    border-color: #ffffff !important;
} 
.cm4all-subnavigation-border-color.cm4all-force-color {
    color: #F7F7F7 !important;
}
.cm4all-subnavigation-border-color.cm4all-force-background-color {
    background-color: #F7F7F7 !important;
}
.cm4all-subnavigation-border-color.cm4all-force-border-color {
    border-color: #F7F7F7 !important;
} 
.cm4all-subnavigation-alt-border-color.cm4all-force-color {
    color: #F7F7F7 !important;
}
.cm4all-subnavigation-alt-border-color.cm4all-force-background-color {
    background-color: #F7F7F7 !important;
}
.cm4all-subnavigation-alt-border-color.cm4all-force-border-color {
    border-color: #F7F7F7 !important;
} 
.cm4all-footer-color.cm4all-force-color {
    color: #FFFFFF !important;
}
.cm4all-footer-color.cm4all-force-background-color {
    background-color: #FFFFFF !important;
}
.cm4all-footer-color.cm4all-force-border-color {
    border-color: #FFFFFF !important;
} 
.cm4all-footer-alt-color.cm4all-force-color {
    color: #878582 !important;
}
.cm4all-footer-alt-color.cm4all-force-background-color {
    background-color: #878582 !important;
}
.cm4all-footer-alt-color.cm4all-force-border-color {
    border-color: #878582 !important;
} 
.cm4all-footer-background-color.cm4all-force-color {
    color: transparent !important;
}
.cm4all-footer-background-color.cm4all-force-background-color {
    background-color: transparent !important;
}
.cm4all-footer-background-color.cm4all-force-border-color {
    border-color: transparent !important;
} 
.cm4all-footer-alt-background-color.cm4all-force-color {
    color: #E0E0E0 !important;
}
.cm4all-footer-alt-background-color.cm4all-force-background-color {
    background-color: #E0E0E0 !important;
}
.cm4all-footer-alt-background-color.cm4all-force-border-color {
    border-color: #E0E0E0 !important;
} 
.cm4all-footer-border-color.cm4all-force-color {
    color: #FAFAFA !important;
}
.cm4all-footer-border-color.cm4all-force-background-color {
    background-color: #FAFAFA !important;
}
.cm4all-footer-border-color.cm4all-force-border-color {
    border-color: #FAFAFA !important;
} 
.cm4all-footer-alt-border-color.cm4all-force-color {
    color: #ABA9A6 !important;
}
.cm4all-footer-alt-border-color.cm4all-force-background-color {
    background-color: #ABA9A6 !important;
}
.cm4all-footer-alt-border-color.cm4all-force-border-color {
    border-color: #ABA9A6 !important;
} 
.cm4all-body-background-color.cm4all-force-color {
    color: #FFFFFF !important;
}
.cm4all-body-background-color.cm4all-force-background-color {
    background-color: #FFFFFF !important;
}
.cm4all-body-background-color.cm4all-force-border-color {
    border-color: #FFFFFF !important;
}
/*cm4all-vars-extension-force-color-end*/